html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;

  color: #fff;
  background: #fff;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;

  letter-spacing: 0;

  color: #fff;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.74em;

  letter-spacing: 0.02em;
}

a,
a:hover,
a:focus {
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
}

a:hover {
  color: #111;
}

@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 7px;
  }
}

/** Preloader
*******************************************************************/

.preloader {
  position: fixed;
  z-index: 100000;
  bottom: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;

  background: #fff;
}

.preloader.hide-preloader {
  height: 0;

  -webkit-transition: 0.8s ease 0.3s;
  -o-transition: 0.8s ease 0.3s;
  transition: 0.8s ease 0.3s;
}

.preloader .spinner {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;

  -webkit-animation: spinner-pulse 0.6s infinite ease-in-out;
  animation: spinner-pulse 0.6s infinite ease-in-out;
  text-align: center;

  opacity: 1;
  border-radius: 100%;
  background-color: #111;
}

.preloader.hide-preloader .spinner {
  opacity: 0;

  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

@-webkit-keyframes spinner-pulse {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);

    opacity: 0;
  }
}

@keyframes spinner-pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 0;
  }
}

/** Background Content
*******************************************************************/

.background-content {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 50%;

  overflow: hidden;

  width: 100%;
  height: 100%;

  -webkit-transform: translate3d(-50%, 0, 0) !important;
  transform: translate3d(-50%, 0, 0) !important;
}

.background-content-inner {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 110%;
  height: 110%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.background-content .background-img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: url(../img/bgBars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/** Navigation
*******************************************************************/

.navigation-main {
  position: fixed;
  z-index: 100 !important;
  top: 0;

  width: 100%;
  height: 75px;
  padding: 0 30px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
}

.navigation-main .container-fluid {
  max-width: 960px;
}

.navigation-main .navbar-collapse {
  width: 120%;
}

.navigation-main .navbar-brand {
  padding: 0;
}

.navigation-main .navbar-brand img {
  position: absolute;
  top: 50%;

  max-height: 44px;
  margin: 0;
  padding: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navigation-main button {
  font-size: 28px;

  margin-right: 0;

  color: #000;
}

.navigation-main ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-main ul li a,
.navigation-main ul li span {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 75px;

  display: block;

  margin: 0;
  padding: 0 15px;

  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  letter-spacing: 0.096em;
  text-transform: uppercase;

  color: #000;
  background: none !important;
}

.navigation-main ul li a:hover,
.navigation-main ul li span:hover,
.navigation-main ul li.current a {
  color: #ffa726;
}

/** MEDIA QUERIES  **/

@media (max-width: 1000px) {
  .navigation-main ul li a,
  .navigation-main ul li span {
    padding: 0 10px;
  }

  .navigation-main .container-fluid {
    padding: 0;
  }

  .navigation-main {
    padding: 0;
  }

  .navbar-header {
    padding: 0 24px;
  }
}

@media (min-width: 841px) {
  .navigation-main .dropdown:hover .dropdown-menu {
    display: block;
  }
}

@media (max-width: 840px) {
  .navigation-main {
    height: 60px;
  }

  .navbar-header {
    float: none;

    margin: 0 !important;
  }

  .navbar-toggle {
    line-height: 60px;

    display: block;

    margin-top: -4px !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .navbar-collapse {
    margin: 0 !important;
    padding: 0;

    border-top: 1px solid transparent;
    background: #fff;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;

    margin: 7.5px -15px;
    padding-top: 15px !important;
    padding-bottom: 26px !important;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-text {
    float: none;

    margin: 15px 0;
  }

  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .collapsing {
    overflow: hidden !important;
  }

  .navigation-main ul li a,
  .navigation-main ul li span,
  .navigation-main ul li .dropdown-menu a {
    line-height: 60px !important;

    padding-left: 40px !important;
  }

  .navbar-nav .open .dropdown-menu {
    position: static;

    float: none;

    width: auto;
    margin-top: 0;
    padding: 0;

    border: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu > li > a {
    padding: 0;
  }
}

@media (max-height: 840px) and (max-width: 840px) {
  .navigation-main ul li a,
  .navigation-main ul li span,
  .navigation-main ul li .dropdown-menu a {
    line-height: 44px !important;
  }

  .navigation-main {
    height: 60px;
  }

  .navigation-main .navbar-brand img {
    max-width: 120px;
  }
}

@media (max-height: 600px) and (max-width: 840px) {
  .navigation-main ul li a,
  .navigation-main ul li span,
  .navigation-main ul li .dropdown-menu a {
    line-height: 34px !important;
  }
}

/** Section
*******************************************************************/

section {
  position: relative;

  margin: 0 auto;
  padding: 16rem 0;

  background: rgba(45, 45, 45, 0.86);
}

.section-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

section.white {
  position: relative;

  background: #fff;
}

section.gray {
  position: relative;

  background: #fafafa;
}

section.white h1,
section.gray h1,
section.white h2,
section.gray h2,
section.white h3,
section.gray h3,
section.white h4,
section.gray h4,
section.white h5,
section.gray h5,
section.white h6 section.gray h6 {
  color: #000;
}

section.white p,
section.gray p,
section.white a,
section.gray a,
section.white section.gray span {
  color: #333;
}

section:last-of-type {
  padding-bottom: 20rem;
}

section .container-fluid {
  max-width: 980px;
}

section .headline {
  line-height: 1.4em;

  margin-top: 0;
  margin-bottom: 0.9em;
}

@media (max-width: 768px) {
  section .headline br {
    display: none;
  }
}

/** Section --> Intro
*******************************************************************/

#intro {
  position: relative;

  height: 100vh;
}

#intro .container-mid {
  position: absolute;
  top: 50%;

  width: 100%;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#intro .container-mid h1 {
  line-height: 1.2em;
  margin-top: 0;
}

#intro .container-mid p.subline {
  font-size: 2.2rem;
  line-height: 1.6em;

  display: inline-block;

  margin: 0;
  margin-right: 0.8em;

  vertical-align: middle;
}

#intro .container-mid a {
  font-size: 2rem;
  line-height: 3.2em;

  position: relative;

  display: inline-block;
  overflow: hidden;

  width: 3.2em;
  margin: 0;
  padding: 0;

  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  text-align: center;
  vertical-align: middle;

  color: #fff;
  border-radius: 100%;
  background: none;
}

#intro .container-mid a:before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

  border-radius: 100%;
  background: #ffa726;
}

#intro .container-mid a:hover:before {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

#intro .container-mid a:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);

  border-radius: 100%;
  background: #222;
}

#intro .container-mid a:hover:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#intro .container-mid a i {
  position: relative;
  z-index: 2;
}

#intro .animation-container {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

#intro .animation-container.animation-fade {
  opacity: 0;
}

#intro .animation-container.animation-fade.run-animation {
  opacity: 1;
}

#intro .animation-container.animation-fade-up {
  -webkit-transform: translateY(10vh);
  -ms-transform: translateY(10vh);
  transform: translateY(10vh);

  opacity: 0;
}

#intro .animation-container.animation-fade-up.run-animation {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);

  opacity: 1;
}

#intro .animation-container.animation-fade-down {
  -webkit-transform: translateY(-10vh);
  -ms-transform: translateY(-10vh);
  transform: translateY(-10vh);

  opacity: 0;
}

#intro .animation-container.animation-fade-down.run-animation {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);

  opacity: 1;
}

#intro .animation-container.animation-fade-left {
  -webkit-transform: translateX(10vh);
  -ms-transform: translateX(10vh);
  transform: translateX(10vh);

  opacity: 0;
}

#intro .animation-container.animation-fade-left.run-animation {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);

  opacity: 1;
}

#intro .animation-container.animation-fade-right {
  -webkit-transform: translateX(-10vh);
  -ms-transform: translateX(-10vh);
  transform: translateX(-10vh);

  opacity: 0;
}

#intro .animation-container.animation-fade-right.run-animation {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);

  opacity: 1;
}

@media (max-width: 1200px) {
  #intro {
    height: auto;
  }

  #intro .container-mid {
    position: relative;
    top: 0;

    margin: 15vh 0;

    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }
}

/** Section --> About
*******************************************************************/

@media (max-width: 768px) {
}

/** Section --> Services
*******************************************************************/

#services p {
  padding-top: 1rem;
  text-align: left;
  padding-right: 1rem;
  padding-left: 2.5rem;
}

@media (max-width: 768px) {
  #services img {
    margin: 0 auto 3rem auto;
  }

  #services .text-center {
    text-align: center;
  }
}

/** Section --> Contact
*******************************************************************/

#contact .contact-list {
  display: inline-block;

  margin: 0;
  padding: 3rem 0 0 0;

  list-style: none;
}

#contact .contact-list .contact-list-item {
  margin-bottom: 4rem;
}

#contact .contact-list .contact-list-item .contact-type {
  border-radius: 3.5rem;
  background: #ffa726;
}

#contact .contact-list .contact-list-item .contact-type i {
  font-size: 2rem;
  line-height: 7rem;

  margin-right: 0.3em;
}

#contact .contact-list .contact-list-item .contact-type h6 {
  font-weight: 500;

  margin-right: 0.3em !important;

  color: #fff;
}

#contact .contact-list .contact-list-item h6 {
  line-height: 6rem;

  display: inline-block;

  margin: 0;
}

@media (max-width: 500px) {
  #contact .contact-list .contact-list-item {
    text-align: center;
  }

  #contact .contact-list .contact-list-item .contact-type {
    display: block;

    margin-bottom: 2rem;

    text-align: center;
  }
}

/** Section --> Footer
*******************************************************************/

#footer {
  position: relative;

  overflow: hidden;

  margin: 0 auto;
  padding: 6rem 0;
}

#footer p {
  line-height: 6rem;

  margin: 0;
}

#footer p a {
  font-weight: 400;

  color: inherit;
}

#footer .social-icons {
  margin: 0;
  padding: 0;

  list-style: none;
}

#footer .social-icons li {
  font-size: 2rem;
  line-height: 3em;

  position: relative;

  display: inline-block;
  overflow: hidden;

  width: 3em;
  height: 3em;
  margin: 0;
  margin-right: 1em;

  text-align: center;

  color: #fff;
  border-radius: 100%;
  background: none;
}

#footer .social-icons li:last-child {
  margin-right: 0;
}

#footer .social-icons li:before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

  border-radius: 100%;
  background: #ffa726;
}

#footer .social-icons li:hover:before {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

#footer .social-icons li:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);

  border-radius: 100%;
  background: #222;
}

#footer .social-icons li:hover:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#footer .social-icons li a {
  font-size: inherit;

  position: relative;
  z-index: 3;

  display: block;

  color: #fff;
  border: none;
}

@media (max-width: 768px) {
  #footer p {
    margin-bottom: 1em;
  }

  #footer .text-left,
  #footer .text-right {
    text-align: center;
  }
}
